.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.btn{

  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
  margin-top: 10px;
  color:rgb(0, 0, 0);
  cursor: pointer;
  letter-spacing: 0.05rem;

}
.submit{
  background-color: #27ae60;
}
.add{
  background-color: #3498db;
}
.reset{
  background-color: #e67e22;
}

.success {
  /* animation: cssAnimation 0s 3s forwards; */
  color: #27ae60;
}
.error{

  /* animation: cssAnimation 0s 3s forwards; */
  color: #e74c3c;

}

/* @keyframes cssAnimation {
  to   { visibility: hidden; }
} */

@media screen and (max-width: 775px) {
  textarea {
    width: 80%;
  }
}